# OIDC
## https://github.com/dani-garcia/vaultwarden/wiki/Enabling-SSO-support-using-OpenId-Connect
## Redirect URL: https://idm.example.com/identity/connect/oidc-signin

SSO_ENABLED=true
SSO_ONLY=true
SSO_SIGNUPS_MATCH_EMAIL=true
SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION=false
SSO_AUTH_ONLY_NOT_SESSION=false

# Kanidm
SSO_SCOPES="openid profile email"
SSO_PKCE=true
SSO_CLIENT_ID=vaultwarden
SSO_CLIENT_SECRET=6ul1oomy2jiFFSroWanEJYbVxuP3jGz8
SSO_AUTHORITY=https://idm.example.com/oauth2/openid/vaultwarden

SSO_CLIENT_CACHE_EXPIRATION=0

SSO_DEBUG_TOKENS=false
LOG_LEVEL=info
# SSO_DEBUG_TOKENS=true
# LOG_LEVEL=info,vaultwarden::sso=debug

# SSO_AUTHORIZE_EXTRA_PARAMS=
# SSO_AUDIENCE_TRUSTED=
# SSO_MASTER_PASSWORD_POLICY=