services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: 3
    volumes:
      - vaultwarden-data:/data

volumes:
  vaultwarden-data:
    name: vaultwarden-data