# OIDC
## https://github.com/dani-garcia/vaultwarden/wiki/SMTP-Configuration

SMTP_HOST=smtp.domain.tld
SMTP_FROM=vaultwarden@domain.tld
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_USERNAME=vaultwarden
SMTP_PASSWORD=NVZavjtpBNA9zKjNkWxcuzebF9yCn7fE